header {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

body{
    position: relative;
    
}
button{
    background-color: rgb(247, 77, 77);
    color: #f2f2f2;
}
/* Hover effect for all buttons */
button:hover {
    background-color: #e1ec3c;
    color: #333;
}

.categories-container {
    width: 200px; /* Set width for the categories list */
    position: absolute; /* Change to absolute positioning */
    top: 50%;
    left: 10px; /* Set the left distance */
}

#categoriesList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    border: 3px solid #c75bb8
}

#categoriesList li {
    cursor: pointer;
    margin-bottom: 5px;
}
.hidden-subcategories {
    display: none;
}
table {
    width: 60%; /* Adjusted width for the table */
    margin: 20px auto; /* Center the table */
    border-collapse: collapse;
}



th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    list-style: none;

}

th {
    background-color: #f2f2f2;
}

.button-container {
    margin: 20px 0;
}
